.movie-card {
  padding: 8px;
  cursor: pointer;
  border: 2px solid;
  display: flex;
  gap: 24px;
  .movie-details-container {
    span {
      font-weight: bold;
    }
    .movie-name {
      font-size: 28px;
      font-weight: bold;
    }
    .movie-time {
      padding-top: 6px;
    }
    .movie-genre {
      padding-top: 6px;
    }
    .movie-release {
      padding-top: 6px;
    }
    .movie-rating {
      padding-top: 6px;
    }
  }
}
