.review-card-container {
  padding: 8px 16px;
  border-top: 1px solid;

  .user-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    .user-image {
      width: 45px;
      height: 45px;
      display: grid;
      place-items: center;
      border-radius: 100%;
      background-color: rgb(236, 75, 102);
    }
    .user-detail {
      text-align: left;
      width: 100%;
      .user-name {
        font-size: 20px;
        font-weight: bold;
      }
      .user-email {
        font-size: 16px;
      }
    }
  }
  .review-container {
    text-align: left;
    padding-left: 16px;
  }
}
